{% extends 'base.html.twig' %}

{% block title %}OpenSearch POC{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Products List</h1>
    {{ form_start(form, {'method': 'POST'}) }}
    {{ form_errors(form) }}

    {{ form_row(form.search) }}

    {{ form_row(form.submit, { 'label': 'Search' }) }}
    {{ form_end(form) }}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Offers</th>
            </tr>
        </thead>
        <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>
                            <ol>
                                {% for offer in product.offers %}
                                    <li>{{ offer.price }}</li>
                                {% endfor %}
                            </ol>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
